<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

## Notebook Title
Introduction to Data Science

### Data Science Languages
- Python
- R
- Julia
- SAS
- SQL
- Scala
- MATLAB
- Java
- C++
- Octave

### Exercise 2
Create a markdown cell to list data science libraries. (3 pts)

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras
- PyTorch
- Statsmodels

### Exercise 3
Create a markdown cell with a table of Data Science tools. (3 pts)

| Tool        | Description                          |
|-------------|--------------------------------------|
| Jupyter     | Interactive notebooks                |
| RStudio     | Integrated development environment   |
| Anaconda    | Python distribution                  |
| Git         | Version control system               |
| Tableau     | Data visualization                   |
| Power BI    | Business intelligence                |
| Apache Spark| Big data processing                  |

### Exercise 4
Create a markdown cell introducing arithmetic expression examples. (1 pt)

Arithmetic expressions involve mathematical operations such as addition, subtraction, multiplication, and division. Here are some examples:

- Addition: 2 + 3
- Subtraction: 5 - 1
- Multiplication: 4 * 6
- Division: 10 / 2

### Exercise 5
Create a code cell to multiply and add numbers. (2 pts)

```python
# Multiply two numbers
result1 = 3 * 5
# Add two numbers
result2 = 2 + 4
```

### Exercise 6
Create a code cell to convert minutes to hours. (2 pts)

```python
# Convert minutes to hours
minutes = 120
hours = minutes / 60
```

### Exercise 7
Insert a markdown cell to list Objectives. (3 pts)

- Learn data science concepts
- Apply data science techniques
- Gain practical experience

### Exercise 8
Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Author: Yao Xiao

### Exercise 9
Share your notebook through GitHub. (3 pts)

### Exercise 10
Take a screenshot of the first page of the notebook. (1 pt)